<a href="https://colab.research.google.com/github/bhawana19/Soft-Computing-Lab-2020/blob/master/Bhawana_4th_C2/operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aim- Write a program to implement all operators in python

Addition Operators

In [ ]:

a=5
b=9
c=a+b #addition
print(c)
# Subtraction
d=b-a
print(d)
# Multiplication
e=a*b
print(b)
#Division
f=b/a
print(f)
#Modulus
print(a%b)
#Exponent
print(a**b)
#Floor Division
print(a//b)

14
4
9
1.8
5
1953125
0

Comparison Operators

In [ ]:
print(a==b) 
print(a!=b) 
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

Bitwise Operators

In [ ]:
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<1)
print(a>>1)

1
13
12
-6
10
2

Logical Operators

In [ ]:
print(a>7 and b<7)
print(a>7 or b<7)
print(not(a>7))

False
False
True

Assignment Operators

In [ ]:
c=a+b
print(c)
c+=a
print(c)
c-=a
print(c)
c*=a
print(c)
c/=a
print(c)
c**=a
print(c)
c%=a
print(c)
c//=a
print(c)

14
19
14
70
14.0
537824.0
4.0
0.0

Identity Operators

In [ ]:
print(a is b)
print(a is not b)

False
True