<a href="https://colab.research.google.com/github/RiyaJaipuria/Soft-Computing-Lab-2020/blob/master/Riya_Jaipuria-4th%20year-C1/Data%20structures%20in%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROGRAM : 2

AIM: Write a program to implement various data structures in python and their operations.

Python has been used worldwide for different fields such as making websites, artificial intelligence and much more. But to make all of this possible, data plays a very important role which means that this data should be stored efficiently and the access to it must be timely. So there are two types of data structures:

Built-in Data Structures : List, Dictionary, Tuple, Sets.

User-Defined Data Structures Arrays, List, Stack, Queue, Trees, Linked Lists, Graphs, HashMaps.

1. LIST

In [1]:
#CREATE LIST:
#create empty list
list1 = [] 
print(list1)

[]

In [3]:
#creating list with data
list2 = [1, 2, 3, 'abc', 192] 
print(list2)

[1, 2, 3, 'abc', 192]

In [4]:
#ADD ELEMENT: 
#add as a single element
list1 = [1, 2, 3]
print(list1)
list1.append([56, 12]) 
print(list1)

[1, 2, 3]
[1, 2, 3, [56, 12]]

In [6]:
#add as different elements
list1.extend([768, 'xyz']) 
print(list1)

[1, 2, 3, [56, 12], 'def', 768, 'xyz']

In [7]:
#add ith elements
list1.insert(89, 'def') 
print(list1)

[1, 2, 3, [56, 12], 'def', 768, 'xyz', 'def']

In [8]:
#DELET ELEMENT : 
list1 = [1, 2, 3, 'qwerty', 29.4, 10, 30]
del list1[5] #delete element at index 5
print(list1)
list1.remove('qwerty') #remove element with value
print(list1)
a = list1.pop(4) #pop element from list
print('Popped Element: ', a, ' List remaining: ', list1)
list1.clear() #empty the list
print(list1)

[1, 2, 3, 'qwerty', 29.4, 30]
[1, 2, 3, 29.4, 30]
Popped Element:  30  List remaining:  [1, 2, 3, 29.4]
[]

In [9]:
#ACCESSING ELEMENTS :
list1 = [1, 2, 3, 'asd', 29.499, 10, 30]
for element in list1: #access elements one by one
    print(element)
print(list1) #access all elements
print(list1[3]) #access index 3 element
print(list1[0:2]) #access elements from 0 to 1 and exclude 2
print(list1[::-1]) #access elements in reverse

1
2
3
asd
29.499
10
30
[1, 2, 3, 'asd', 29.499, 10, 30]
asd
[1, 2]
[30, 10, 29.499, 'asd', 3, 2, 1]

In [10]:
#OTHER OPERATION ON LIST are : 
list1 = [1, 2, 3, 10, 30, 10]
print(len(list1)) #find length of list
print(list1.index(10)) #find index of element that occurs first
print(list1.count(10)) #find count of the element
print(sorted(list1)) #print sorted list but not change original
list1.sort(reverse=True) #sort original list
print(list1)

6
3
2
[1, 2, 3, 10, 10, 30]
[30, 10, 10, 3, 2, 1]

2. DICTIONARY

In [11]:
#CREATING A DICTIONARY:
my_dict = {} #empty dictionary
print(my_dict)
my_dict = {1: 'Python', 2: 'Java'} #dictionary with elements
print(my_dict)

{}
{1: 'Python', 2: 'Java'}

In [12]:
#Changing and Adding key, value pairs
my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict)
my_dict['Second'] = 'C++' #changing element
print(my_dict)
my_dict['Third'] = 'Ruby' #adding key-value pair
print(my_dict)

{'First': 'Python', 'Second': 'Java'}
{'First': 'Python', 'Second': 'C++'}
{'First': 'Python', 'Second': 'C++', 'Third': 'Ruby'}

In [13]:
#Deleting key value pairs
my_dict = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}
a = my_dict.pop('Third') #pop element
print('Value:', a)
print('Dictionary:', my_dict)
b = my_dict.popitem() #pop the key-value pair
print('Key, value pair:', b)
print('Dictionary', my_dict)
my_dict.clear() #empty dictionary
print('n', my_dict)

Value: Ruby
Dictionary: {'First': 'Python', 'Second': 'Java'}
Key, value pair: ('Second', 'Java')
Dictionary {'First': 'Python'}
n {}

In [14]:
#ACCESSING ELEMENTS
my_dict = {'First': 'Python', 'Second': 'Java'}
print(my_dict['First']) #access elements using keys
print(my_dict.get('Second'))

Python
Java

In [15]:
#Other functions of dictionary
my_dict = {'First': 'Python', 'Second': 'Java', 'Third': 'Ruby'}
print(my_dict.keys()) #get keys
print(my_dict.values()) #get values
print(my_dict.items()) #get key-value pairs
print(my_dict.get('First'))

dict_keys(['First', 'Second', 'Third'])
dict_values(['Python', 'Java', 'Ruby'])
dict_items([('First', 'Python'), ('Second', 'Java'), ('Third', 'Ruby')])
Python

3. TUPLE

In [16]:
#CREATING A TUPLE 
my_tuple = (1, 2, 3) #create tuple
print(my_tuple)

(1, 2, 3)

In [18]:

#ACCESSING ELEMENTS
my_tuple2 = (1, 2, 3, 'abcdefgh') #access elements
for x in my_tuple2:
    print(x)
print(my_tuple2)
print(my_tuple2[0])
print(my_tuple2[:])
print(my_tuple2[3][4])

1
2
3
abcdefgh
(1, 2, 3, 'abcdefgh')
1
(1, 2, 3, 'abcdefgh')
e

In [19]:
#APPENDING ELEMENTS
my_tuple = (1, 2, 3)
my_tuple = my_tuple + (4, 5, 6) #add elements
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [20]:
#CREATING SETS
my_set = {1, 2, 3, 4, 5, 5, 5} #create set
print(my_set)

{1, 2, 3, 4, 5}

In [21]:
#ADDING ELEMENTS
my_set = {1, 2, 3}
my_set.add(4) #add element to set
print(my_set)

{1, 2, 3, 4}

In [22]:
#OTHER OPERATIONS ON SETS
my_set = {1, 2, 3, 4}
my_set_2 = {3, 4, 5, 6}
print(my_set.union(my_set_2), '----------', my_set | my_set_2)
print(my_set.intersection(my_set_2), '----------', my_set & my_set_2)
print(my_set.difference(my_set_2), '----------', my_set - my_set_2)
print(my_set.symmetric_difference(my_set_2), '----------', my_set ^ my_set_2)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6} ---------- {1, 2, 3, 4, 5, 6}
{3, 4} ---------- {3, 4}
{1, 2} ---------- {1, 2}
{1, 2, 5, 6} ---------- {1, 2, 5, 6}
set()


SUBMITTED BY : RIYA JAIPURIA (170384), Section C1