**TASK 1: Operator Implementation in Python**

***1. Arithmetic Operators***

In [1]:
a = 8
b = 7
print("Addition: ", a+b)
print("Substraction: ", a-b)
print("Multiplication: ", a*b)
print("Division: ", a/b)
print("Floor Division: ", a//b)
print("Modulo: ", a%b)
print("Power: ", a**b)

Addition:  15
Substraction:  1
Multiplication:  56
Division:  1.1428571428571428
Floor Division:  1
Modulo:  1
Power:  2097152

***2. Relational Operators***

In [2]:
a = 8
b = 7
print("a>b : ", a>b)
print("a<b : ", a<b)
print("a>=b : ", a>=b)
print("a<=b : ", a<=b)
print("a!=b : ", a!=b)
print("a==b : ", a==b)

a>b :  True
a<b :  False
a>=b :  True
a<=b :  False
a!=b :  True
a==b :  False

***3. Logical Operators***

In [3]:
a = True
b = False
print("a and b : ", a and b)
print("a or b : ", a or b)
print("not b : ", not b)
print("not a : ", not a)

a and b :  False
a or b :  True
not b :  True
not a :  False

***4. Bitwise Operators***

In [5]:
a = 8
b = 7
print("a&b : ", a&b)
print("a|b : ", a|b)
print("~a : ", ~a )
print("~b : ", ~b)
print("a^b : ", a^b)
print("a>>2 : ", a>>2)
print("a<<2 : ", a<<2)

a&b :  0
a|b :  15
~a :  -9
~b :  -8
a^b :  15
a>>2 :  2
a<<2 :  32

***5. Assignment Operators***

In [9]:
a = 81
b = 71

c  = a+b
print(" = ", c)

c += 2
print("+= : ", c)

c -=2
print("-= : ", c)

c *= 2
print("*= : ", c)

c /= 2
print("/= : ", c)

c //=2
print("//= : ", c)

c %=2
print("%= : ", c)

c = 118
c &= 2
print("&= : ", c)

c |=2
print("|= : ", c)

c ^= 2
print("^= : ", c)

c >>= 2
print(">>= : ", c)

c <<= 2
print("<<= : ", c)

 =  152
+= :  154
-= :  152
*= :  304
/= :  152.0
//= :  76.0
%= :  0.0
&= :  2
|= :  2
^= :  0
>>= :  0
<<= :  0

***6. Identity Operators***

In [14]:
a = "Hello"
b = "Hello"
print("a is b : ", a is b)
print("a is not b : ", a is not b)
c = [1,2,3]
d = [1,2,3]
print("c is d : ", c is d)
print("c is not d : ", c is not d)

a is b :  True
a is not b :  False
c is d :  False
c is not d :  True

***7. Membership Operators***

In [15]:
a = [23,56,22,12,55,78,100]
print("23 in a : ", 23 in a)
print("13 not in a : ", 13 not in a)

23 in a :  True
13 not in a :  True