# TASK 3: Implementation of various Data Structures in Python and their operations

Data structures in python are something which can old data:
1. Lists
2. Tuples
3. Dictionary
4. Sets
5. Frozen Sets
6. Arrays

## 1. Lists

List in Python are ordered and have a definite count. 

The elements in a list are indexed according to a definite sequence and the indexing of a list is done with 0 being the first index.

Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility

In [1]:
#creating  lists

l1 = []
l2 = [1,2,3,4]
l3 = ["Hello", "World"]
l4 = [["Good", "Morning"],[3,4,5,6]]

print("Its an empty list: ", l1)
print("List with numerical data: ", l2)
print("List with string data: ", l3)
print("Nested list: ", l4)

Its an empty list:  []
List with numerical data:  [1, 2, 3, 4]
List with string data:  ['Hello', 'World']
Nested list:  [['Good', 'Morning'], [3, 4, 5, 6]]

In [2]:
# list can be created with duplicate elements as well

l1 = [1,2,3,4,4,5,6,6,7,7,7,7,8,9,9]
print("Duplicate elements in list: ", l1)
print("Length of list: ", len(l1))

Duplicate elements in list:  [1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7, 7, 8, 9, 9]
Length of list:  15

In [3]:
#new elements can be added to the list using append() function

l1 = [1,2,3,4]
l2 = [5,6,7,8]

print("Before append: ", l1)
l1.append(l2)
print("After append: ", l1)

Before append:  [1, 2, 3, 4]
After append:  [1, 2, 3, 4, [5, 6, 7, 8]]

In [5]:
#using insert() to add elements to the list
#append() adds the elemnents at the end of the list but with insert() elements can be added at any desired position. Hence insert() takes 2 arguments

l1 = [1,2,3]
l1.insert(2,[4,5,6])
print(l1)

[1, 2, [4, 5, 6], 3]

In [6]:
#accessing elements

l1 = [1,2,3,4,5,6,7,8,9]
l2 = [1,2,[3,4]]
print(l1[3])
print(l1[3:7])
print(l2[2][0])
print(-1)

4
[4, 5, 6, 7]
3

In [8]:
#using remove() to remove elements from the list

l1 = [34,65,77,12,32]
print("Before Removing: ", l1)
l1.remove(34)
l1.remove(77)
print("After Removing: ", l1)

Before Removing:  [34, 65, 77, 12, 32]
After Removing:  [65, 12, 32]

In [9]:
#using pop() to remove elements
#The difference between remove() and pop() is that pop() rmoves the last element

l1 = [45,66,22,67,98,23]
l1.pop()
l1.pop()
print(l1)   #two elements popped from the end of the string

[45, 66, 22, 67]

## 2. Tuples

Tuple is a collection of Python objects much like a list. 

The sequence of values stored in a tuple can be of any type, and they are indexed by integers.

Values of a tuple are syntactically separated by ‘commas’. Although it is not necessary, it is more common to define a tuple by closing the sequence of values in parentheses.

In [11]:
#creating tuples

t1 = ()
t2 = (1,2,3)
t3 = [1,2,3,4,5,6]
t4 = tuple("Geeks")

print("Empty Tuple: ", t1)
print("Numerical tuple: ",t2)
print("Creating tuple form list: ", t3)
print("Tuple typecasting: ", t4)

Empty Tuple:  ()
Numerical tuple:  (1, 2, 3)
Creating tuple form list:  [1, 2, 3, 4, 5, 6]
Tuple typecasting:  ('G', 'e', 'e', 'k', 's')

In [12]:
#accessing tuple elements

t1 = (1,2,3,4,5,6,7,8)
t2 = ((1,2,3,4),[6,7,8,9],10,11)
print(t1[4])
print(t1[4:8])
print(t2[0][3])
print(t2[1][0])

5
(5, 6, 7, 8)
4
6

In [13]:
#because tuple is an immuatable type, you cannot remove an element from the tuple, but can delete the entire tuple

t1 = (1,2,3,4,5)
print(t1)
del t1
print(t1)

(1, 2, 3, 4, 5)

NameError: ignored

## 3. Sets

In Python, Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. 

The order of elements in a set is undefined though it may consist of various elements.

In [14]:
#creating a set

s1 = set()
s2 = set("Thisisaset")
s3 = set([1,2,3,4,5,6])

print("Empty set: ", s1)
print("Set created from string object: ", s2)
print("Set created from typecasting list: ", s3)

Empty set:  set()
Set created from string object:  {'h', 'i', 'a', 't', 'e', 's', 'T'}
Set created from typecasting list:  {1, 2, 3, 4, 5, 6}

In [17]:
#adding elements to the set

s1 = set((1,2,3))
s1.add(4)
s1.add(5)
s1.add((6,7,8))
print(s1)

#with add() you can add only one element at a time. To add more elements we use update()

s2 = set((1,2,3,4))
s2.update([6,7,8],(45,67,89))
print(s2)

{1, 2, 3, 4, 5, (6, 7, 8)}
{1, 2, 3, 4, 67, 6, 7, 8, 45, 89}

In [19]:
#indexing is not possible in set

#pop() is used to remove elements from the back of the tuple

s1 = {34,67,2,12,43,99,17,80}
print("Before popping: ", s1)
s1.pop()
s1.pop()
print("After popping: ", s1)

Before popping:  {2, 34, 67, 99, 43, 12, 80, 17}
After popping:  {67, 99, 43, 12, 80, 17}

In [20]:
#removing set elements using remove() and discard() 
#The difference between remove() and discard() is that remove() raises an Error
#if the element we are trying to remove is not present while discard() doesnt 
#raise an error and the set remains unchanged.

s1 = {45,12,11,34,87,55,90,80}
s1.remove(12)
s1.remove(90)
print("After remove():", s1)
s1.discard(11)
s1.discard(90)
print("After discard():", s1)

After remove(): {34, 11, 45, 80, 55, 87}
After discard(): {34, 45, 80, 55, 87}

## 4. Frozen Sets

Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied. 

While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

In [21]:
#creating a frozen set

fs1 = frozenset()
fs2 = frozenset("HelloWorld")

print(fs1)
print(fs2)

frozenset()
frozenset({'r', 'd', 'o', 'W', 'e', 'H', 'l'})

Rest all of the basic set functions can also be applied to the frozen sets. 
But because the frozen sets are immutable, elements in the set cannot be changed once it is created.

## 5. Dictionary

Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

Note – Keys in a dictionary doesn’t allows Polymorphism.

In [22]:
#creating a dictionary


Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 
  
Dict = dict([(1, 'Geeks'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict) 

Dict = {1: 'Geeks', 2: 'For', 3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Geeks'}} 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}
{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [23]:
#adding elements to a dictionary


Dict = {} 
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict) 

Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict) 

Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict) 

Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [24]:
#accessing elements from a dictionary


Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
print("Accessing a element using key:") 
print(Dict['name']) 
print("Accessing a element using key:") 
print(Dict[1])

Accessing a element using key:
For
Accessing a element using key:
Geeks

In [25]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 
print("Accessing a element using get:") 
print(Dict.get(3))

Accessing a element using get:
Geeks

In [26]:
#deleting elements from the dictionary

Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks', 
		'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'}, 
		'B' : {1 : 'Geeks', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 

# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 

del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

In [27]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 

# Deleting a key 
# using pop() method 
pop_ele = Dict.pop(1) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {'name': 'For', 3: 'Geeks'}
Value associated to poped key is: Geeks

In [28]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'} 

# Deleting an arbitrary key 
# using popitem() function 
pop_ele = Dict.popitem() 
print("\nDictionary after deletion: " + str(Dict)) 
print("The arbitrary pair returned is: " + str(pop_ele))

Dictionary after deletion: {1: 'Geeks', 'name': 'For'}
The arbitrary pair returned is: (3, 'Geeks')

## 6. Arrays

An array is a collection of items stored at contiguous memory locations. The idea is to store multiple items of the same type together. 

This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally denoted by the name of the array).

For simplicity, we can think of an array a fleet of stairs where on each step is placed a value (let’s say one of your friends). Here, you can identify the location of any of your friends by simply knowing the count of the step they are on. Array can be handled in Python by a module named array. 

They can be useful when we have to manipulate only a specific data type values. A user can treat lists as arrays. However, user cannot constraint the type of elements stored in a list. If you create arrays using the array module, all elements of the array must be of the same type.

In [29]:
#creating an array in python 


import array as arr 
a = arr.array('i', [1, 2, 3]) 
print ("The new created array is : ", end =" ") 
for i in range (0, 3): 
	print (a[i], end =" ") 
print() 

b = arr.array('d', [2.5, 3.2, 3.3]) 
print ("The new created array is : ", end =" ") 
for i in range (0, 3): 
	print (b[i], end =" ")

The new created array is :  1 2 3
The new created array is :  2.5 3.2 3.3

In [30]:
#adding elements to an array


import array as arr 
a = arr.array('i', [1, 2, 3]) 
print ("Array before insertion : ", end =" ") 
for i in range (0, 3): 
	print (a[i], end =" ") 
print() 

# inserting array using 
# insert() function 
a.insert(1, 4) 
print ("Array after insertion : ", end =" ") 
for i in (a): 
	print (i, end =" ") 
print() 

# array with float type 
b = arr.array('d', [2.5, 3.2, 3.3]) 
print ("Array before insertion : ", end =" ") 
for i in range (0, 3): 
	print (b[i], end =" ") 
print() 

# adding an element using append() 
b.append(4.4) 
print ("Array after insertion : ", end =" ") 
for i in (b): 
	print (i, end =" ") 
print()

Array before insertion :  1 2 3
Array after insertion :  1 4 2 3
Array before insertion :  2.5 3.2 3.3
Array after insertion :  2.5 3.2 3.3 4.4

In [31]:
#accessing the elements


import array as arr 
a = arr.array('i', [1, 2, 3, 4, 5, 6]) 
print("Access element is: ", a[0]) 
print("Access element is: ", a[3]) 
b = arr.array('d', [2.5, 3.2, 3.3]) 
print("Access element is: ", b[1]) 
print("Access element is: ", b[2])

Access element is:  1
Access element is:  4
Access element is:  3.2
Access element is:  3.3

In [32]:
#removing elements from the array


import array 
arr = array.array('i', [1, 2, 3, 1, 5]) 
print ("The new created array is : ", end ="") 
for i in range (0, 5): 
	print (arr[i], end =" ") 
print ("\r") 

# using pop() to remove element at 2nd position 
print ("The popped element is : ", end ="") 
print (arr.pop(2)) 
print ("The array after popping is : ", end ="") 
for i in range (0, 4): 
	print (arr[i], end =" ") 
print("\r") 

# using remove() to remove 1st occurrence of 1 
arr.remove(1) 
print ("The array after removing is : ", end ="") 
for i in range (0, 3): 
	print (arr[i], end =" ")

The new created array is : 1 2 3 1 5
The popped element is : 3
The array after popping is : 1 2 1 5
The array after removing is : 2 1 5

In [33]:
#searching element in an array

 
import array 
arr = array.array('i', [1, 2, 3, 1, 2, 5]) 
print ("The new created array is : ", end ="") 
for i in range (0, 6): 
	print (arr[i], end =" ") 
print ("\r") 

print ("The index of 1st occurrence of 2 is : ", end ="") 
print (arr.index(2)) 

print ("The index of 1st occurrence of 1 is : ", end ="") 
print (arr.index(1))

The new created array is : 1 2 3 1 2 5
The index of 1st occurrence of 2 is : 1
The index of 1st occurrence of 1 is : 0