<a href="https://colab.research.google.com/github/tarusingh00250/Soft-Computing-Lab-2020/blob/master/Taru%20Singh-4th%20year-Sec%20C1/PythonOperator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Arithematic Operators

In [1]:
#Addition
x = 10
y = 5
print('x + y =',x+y)

# Substraction
print('x - y =',x-y)

# Multiplication
print('x * y =',x*y)

# Division
print('x / y =',x/y)

# Floor division
print('x // y =',x//y)

# Exponent
print('x ** y =',x**y)

# Modulus
print('x % y =',x%y)

x + y = 15
x - y = 5
x * y = 50
x / y = 2.0
x // y = 2
x ** y = 100000
x % y = 0

2. Comparision Operators

In [2]:
x = 2
y = 3

# Greater than
print('x > y is',x>y)

# Less than
print('x < y is',x<y)

# Equal to
print('x == y is',x==y)

# Not equal to
print('x != y is',x!=y)

# Greater than or equal to
print('x >= y is',x>=y)

# Smaller than or equal to
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

3. Logical Operators

In [3]:
x = True #considered as 1
y = False #considered as 0

print('x or y is',x or y)

print('x and y is',x and y)

print('not x is',not x)

x or y is True
x and y is False
not x is False

4. Bitwise Operators

In [4]:
x = 3
y = 9

# Bitwise AND
print(x & y)

# Bitwise OR
print(x | y)

# Bitwise NOT
print(~x)

# Bitwise XOR
print(x ^ y)

# Bitwise RIGHT SHIFT
print(x >> 2)

# Bitwise LEFT SHIFT
print(x << 2)

1
11
-4
10
0
12

5. Assignment Operators

In [5]:
a = 10
b = 2
c = 30

c = a + b
print ("Value of c after c = a + b is ", c)

c += a
print ("Value of c after c += a is ", c )

c *= a
print ("Value of c after c *= a is ", c)

c /= a 
print ("Value of c after c /= a  is ", c) 

c  = 2
c %= a
print ("Value of c after c %= a is ", c)

c **= a
print ("Value of c after c **= a is ", c)

c //= a
print ("Value of c after c //= a is ", c)

Value of c after c = a + b is  12
Value of c after c += a is  22
Value of c after c *= a is  220
Value of c after c /= a  is  22.0
Value of c after c %= a is  2
Value of c after c **= a is  1024
Value of c after c //= a is  102

Taru Singh 170393 Sec C1