<a href="https://colab.research.google.com/github/riya2514/Soft-Computing-Lab-2020/blob/master/riya2514/Soft-Computing-Lab-2020/Riya_Sinha_(170385_C_1)_4th_year_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROGRAM : 1**

---



**AIM** : Write a program to implement all operators in python

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.



 **Arithmetic operators**: 
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [4]:
#Addition
x = 20
y = 41
print('x + y =',x+y)

x + y = 61

In [5]:
# Substraction
print('x - y =',x-y)

x - y = -21

In [6]:
# Multiplication
print('x * y =',x*y)

x * y = 820

In [7]:
# Division
print('x / y =',x/y)

x / y = 0.4878048780487805

In [8]:
# Floor division
print('x // y =',x//y)

x // y = 0

In [9]:
# Exponent
print('x ** y =',x**y)

x ** y = 219902325555200000000000000000000000000000000000000000

In [10]:
# Modulus
print('x % y =',x%y)

x % y = 20

 **Comparison Operators** : Comparison operators are used to compare values. It returns either True or False according to the condition.

In [11]:
x = 20
y = 43

# Greater than
print('x > y is',x>y)

# Less than
print('x < y is',x<y)

# Equal to
print('x == y is',x==y)

# Not equal to
print('x != y is',x!=y)

# Greater than or equal to
print('x >= y is',x>=y)

# Smaller than or equal to
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

 **Logical Operators** : Logical operators are the and, or, not operators.

In [15]:
x = True #considered as 1
y = False #considered as 0

print('x or y is',x or y)

print('x and y is',x and y)

print('not x is',not x)

x or y is True
x and y is False
not x is False

**Bitwise Operators** : Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.

In [16]:
x = 10
y = 4

# Bitwise AND
print(x & y)

# Bitwise OR
print(x | y)

# Bitwise NOT
print(~x)

# Bitwise XOR
print(x ^ y)

# Bitwise RIGHT SHIFT
print(x >> 2)

# Bitwise LEFT SHIFT
print(x << 2)

0
14
-11
14
2
40

 **Assignment Operators :** Assignment operators are used in Python to assign values to variables.

In [27]:
a = 34
b = 19
c = 0

c = a + b
print ("Value of c after c = a + b is ", c)

c += a
print ("Value of c after c += a is ", c )

c *= a
print ("Value of c after c *= a is ", c)

c /= a 
print ("Value of c after c /= a  is ", c) 

c  = 2
c %= a
print ("Value of c after c %= a is ", c)

c **= a
print ("Value of c after c **= a is ", c)

c //= a
print ("Value of c after c //= a is ", c)

Value of c after c = a + b is  53
Value of c after c += a is  87
Value of c after c *= a is  2958
Value of c after c /= a  is  87.0
Value of c after c %= a is  2
Value of c after c **= a is  17179869184
Value of c after c //= a is  505290270



**Submitted to** : S K Jangir

**Submitted by** : Riya Sinha / (170385) / Section C 1 / 4th year